.sidebar {
    border-right: 1px solid var(--border-color);
    padding: 0 2rem;
    margin-top: 2rem;   
    flex: 0.3;
    min-height: 250px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar .sidebar-option:hover {
    background-color: var(--hover);
    border-radius: 30rem;
    color: var(--primary);
    transition: color 1ms ease-out;
}

.sidebar-option-active {
    color: var(--primary) ;
}

.sidebar-option > .MuiSvgIcon-root {
    margin: 1rem;
}

.sidebar-option > h2 {
    font-weight: 800;
    font-size: 1rem;
}

.sidebar .sidebar-button {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    font-weight: 600;
    border-radius: 30px;
    margin-top: 20px;
}

.sidebar .sidebar-button:hover {
    background-color: var(--white);
    color: var(--primary);
}

